
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <%= image_tag "glacier_Fotor.jpg", class: "dest" %>
                        <div class="carousel-caption">
                            <h3>Glacier National Park</h3>
                            <p>
                                Montana, U.S.A.
                            </p>
                            <p><a class="btn btn-clear btn-sm btn-min-block" href="#">Read More!</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <%= image_tag "budapest_Fotor.jpg", class: "dest" %>
                        <div class="carousel-caption">
                            <h3>Waterfront</h3>
                            <p>
                                Gdansk, Poland
                            </p>
                            <p><a class="btn btn-clear btn-sm btn-min-block" href="#">Read More!</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <%= image_tag "Whitehaven_Fotor.jpg", class: "dest" %>
                        <div class="carousel-caption">
                            <h3>Whitehaven Beach</h3>
                            <p>
                                Whitsundays, Australia 
                            </p>
                            <p><a class="btn btn-clear btn-sm btn-min-block" href="#">Read More!</a></p>
                        </div>
                    </div>
                    <div class="item">
                        <%= image_tag "India.jpg", class: "dest" %>
                        <div class="carousel-caption">
                            <h3>The Taj Mahal</h3>
                            <p>
                                India
                            </p>
                            <p><a class="btn btn-clear btn-sm btn-min-block"
                            href="#">Read More!</a></p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                    <span class="fa fa-arrow-right" aria-hidden="true"></span>
                </a>
            </div>
            <div class="main-text hidden-xs">
                <div class="col-md-12 text-center static-carousel">
                    <h1>Four Winds</h1>
                    <h3>Travel Hub</h3>
                </div>
            </div>
        </div>
    </div>
</div>




<% flash.each do |key,value|  %>
    <div class="<%= key %>" > <%= value %> </div>
<% end %>



</body>






